mule-user-guide/v/3.8/_sources/dataweave-quickstart-guide-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="0.0.0.0" port="80" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="t-shirt.raml"/>
    </http:request-config>
    <flow name="dw-quickstart">
        <http:listener config-ref="HTTP_Listener_Configuration" path="place-order" metadata:id="45e0c53c-98f2-4569-b739-3acad7a28a02" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="/Users/nearnshaw/Downloads/dw-tshirt-inputsample.xml">
                <dw:reader-property name="nullValueOn" value="blank"/>
            </dw:input-payload>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	address1: payload.order.buyer.address,
	address2: null,
	city: payload.order.buyer.city,
	country: payload.order.buyer.nationality,
	email: payload.order.buyer.email,
	name: payload.order.buyer.name,
	postalCode: payload.order.buyer.postCode as :string,
	size: "M" unless payload.order.buyer.state == "TX" otherwise "XXL",
	stateOrProvince: payload.order.buyer.state
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/orders" method="POST" doc:name="HTTP"/>
    </flow>
    <flow name="dw-quickstart2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="get-products" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/products" method="GET" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/list_json_1.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
shirts: payload map {
	size: upper $.size,
	description: $.description,
	count: $.count
} filter $.count > 0 groupBy $.size]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>