mule4-user-guide/v/4.1/_sources/transaction-management_1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="da6aba88-b59b-46f7-87c2-5e339336d135" >
		<db:derby-connection database="myDb" create="true" />
	</db:config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="a571aa8b-d7fd-4c1d-8af4-827475cb0646" >
		<vm:queues >
			<vm:queue queueName="myQueue" />
		</vm:queues>
	</vm:config>
	<flow name="transactionsFlow" doc:id="719a4cea-d9c2-4f42-ae92-151ab7caa5da" >
		<try doc:name="Try" doc:id="4ad64c59-69c5-48d5-9198-ea7e33960a72" transactionalAction="ALWAYS_BEGIN" transactionType="XA">
			<db:insert config-ref="Database_Config" doc:name="Insert" transactionalAction="ALWAYS_JOIN">
	            <db:sql>INSERT INTO main_flow_audit (errorType, description) VALUES (:errorType, :description)
	            </db:sql>
	            <db:input-parameters><![CDATA[
	                #[{
	                'errorType' : 'AUTHENTICATION',
	                'description' : 'invalid authentication credentials',
	                }]
	            ]]></db:input-parameters>
	        </db:insert>
			<vm:publish doc:name="Publish" doc:id="b0a55ea1-97da-43d1-a0c2-f02ab9912e1c" config-ref="VM_Config" queueName="myQueue" transactionalAction="ALWAYS_JOIN"/>
		</try>
	</flow>
</mule>
