mule-user-guide/v/3.9/_sources/mysql-empno-in-param.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration" />
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="username" password="xyz" database="company" doc:name="MySQL Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <flow name="stored-proc-exFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getemps" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="" value=""/>
            </http:response-builder>
        </http:listener>
        <set-payload value="#[message.inboundProperties.'http.query.params'.emp]" doc:name="Set Payload"/>
        <db:stored-procedure config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[call add_bonus_by_emp_no(:empno,500);]]></db:parameterized-query>
						<db:in-param name="empno" value="#[payload]"/>
        </db:stored-procedure>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>