mule-user-guide/v/3.9/_sources/using-the-datasense-explorer-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="listener-config" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="datasense-explorerFlow1" >
        <http:listener config-ref="listener-config" path="/" doc:name="HTTP Connector"/>
        <set-payload value="#[[&quot;Hello&quot;, &quot;World&quot;]]" doc:name="Set Payload"/>
        <set-variable variableName="timestamp" value="#[server.dateTime]" doc:name="SetTimestamp"/>
        <enricher  doc:name="Message Enricher" source="#[message.payload.color]" target="#[flowVars['colorchoice']]">
            <processor-chain doc:name="Processor Chain">
                <flow-ref name="datasense-explorerFlow2" doc:name="Flow Reference"/>
                <logger level="INFO" doc:name="Logger 2"/>
            </processor-chain>
        </enricher>
        <logger level="INFO" doc:name="Logger 3"/>
    </flow>
    <flow name="datasense-explorerFlow2" >
        <set-payload value="#[[&quot;type&quot;:&quot;shoe&quot;,&quot;size&quot;:20,&quot;color&quot;:&quot;blue&quot;]]" doc:name="Set New Payload"/>
        <logger level="INFO" doc:name="Logger 1"/>
    </flow>
</mule>